<div class="public_recipe">
  <div class="recipe-left-section">
    <h3><%= recipe.name %></h3>
    <p>by <strong><%= recipe.user.name %></strong></p>
  </div>
  <div class="recipe-right-section">
    <p>Total food items: <%= recipe.foods.count%></p>
    <p>Total price: $ <%= cost %></p>
  </div>
</div>
    