<% unless user_signed_in? %>
  <%= button_to "Login", new_user_session_path %>
<% end %>

<section class="public_section">
  <h1 class="title">Public recipes</h1>
  <div class="public-recipes-holder">
    <% if @recipes.empty? %>
      <p>There are no recipes to see, try again later.</p>
    <% else %>
      <% @recipes.each do |recipe| %>
        <a href=<%= recipe_path(recipe) %> class="recipe_link">
          <%= render partial: 'public', locals: { recipe: , cost: @costs[recipe] } %>
        </a>
      <% end %>
    <% end %>

  </div>
</section>