<section class="public_section">
  <div class="public-recipes-holder">
  <h1 class="title">Public recipes</h1>
    <% if @recipes.empty? %>
      <p>There are no recipes to see, try again later.</p>
    <% else %>
      <% @recipes.each do |recipe| %>
          <%= render partial: 'public', locals: { recipe: } %>
      <% end %>
    <% end %>
  </div>
</section>