/* ------------------ Application ----------------- */

header {
  height: 50px;
  width: 100%;
  text-align: center;
}

header a {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

header ul {
  background-color: rgb(186, 185, 185);
  list-style: none;
  width: fit-content;
  padding: 15px 30px;
  margin: 0 auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

header li {
  display: inline-block;
  margin-left: 30px;
}

header li a {
  color: #fff;
  transition: 0.3s;
}

header li a:hover {
  color: #000;
}

header li:first-child {
  margin-left: 0;
}

/* ------------------- Food -------------------- */

/* Food form */

.food-form-wrapper {
  margin: auto;
  padding: 0 30%;
}

.food-form form {
  display: flex;
  background-color: lightgray;
  padding: 20px;
  border-radius: 20px;
  flex-direction: column;
  gap: 10px;
}

.food-form input {
  padding: 5px;
  width: 100%;
}

.foods-wrapper,
.shopping-wrapper {
  margin: 0 auto;
  padding: 0 20%;
}

#add_food_btn,
#create_food_btn input {
  display: block;
  text-decoration: none;
  color: white;
  width: fit-content;
  background-color: green;
  padding: 10px 20px;
  border: none;
  margin-left: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}

#add_food_btn:enabled {
  box-shadow: 0 0 2px black;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#no_food_msg {
  margin-top: 20px;
}

/* ------------------------- Public recipes ---------------------- */

.public_section {
  padding: 0 20%;
  margin: auto;
}

.public-recipes-holder {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe_link {
  text-decoration: none;
  color: initial;
}

.public_recipe {
  padding: 30px;
  background-color: rgb(150, 117, 69);
  display: flex;
  align-items: center;
  position: relative;
  gap: 60px;
  overflow: hidden;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.recipe-left-section {
  font-size: 24px;
  text-align: center;
}

.recipe-right-section {
  font-size: 20px;
  flex: 1;
}

.public_recipe h3 {
  font-size: 1.5em;
  font-family: 'Lobster', cursive;
}

.hidden_recipe_info {
  position: absolute;
  left: 0;
  width: 100%;
  height: 140%;
  text-align: center;
  transition: all 0.5s;
  background-color: transparent;
  color: white;
}

.hidden_recipe_info:hover {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.5));
}

.see_recipe_btn {
  text-decoration: none;
  color: initial;
  background-color: green;
  color: white;
  border-radius: 15px;
  padding: 10px 20px;
  width: fit-content;
  position: absolute;
  bottom: 5px;
  right: 10px;
}